html,
body,
.main-container {
  height: 100%;
}
#main-loader {
  width: 100%;
  height: 100%;
}
.home {
  height: 100%;
}
.home .map-container {
  width: 100%;
  height: 100%;
}
.home .angular-google-map,
.home .angular-google-map-container {
  width: 100%;
  height: 100%;
}
